.zig-cache/
node_modules/
zig-out/
npm_packages/odiff-bin/bin/odiff.exe
npm_packages/platforms/*/odiff
npm_packages/platforms/*/odiff.exe
.benchtree/
images/gen/*
!images/gen/.gitkeep
zig-pkg/

# node js + playwright
node_modules/
dist/
test-results/
playwright-report/
.DS_Store
*.log
__screenshots__/
test-results/
